[submodule "themes/catppuccin/tmux"]
	path = themes/catppuccin/tmux
	url = https://github.com/catppuccin/tmux
[submodule "themes/catppuccin/btop"]
	path = themes/catppuccin/btop
	url = https://github.com/catppuccin/btop.git
