*{
  all: unset;
}

@import "mocha";

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

.wifi,
.wifi.button,
.wifi.menu{
  background-color: $crust;
  color: $text;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 120%;
  padding: 0.2em 0.4em 0.2em 0.2em;
  border-radius: 20px 20px 20px 20px;
}
.wifi.button{
  padding: 0.2em 0.6em 0.2em 0.2em;
}
.wifi.button:hover{
  background-color: $lavender;
  color: $crust;
}
.wifi.menu-toggle-icon{
  margin: 0em 0.1em 0em 0em;
}
.wifi.menu-toggle-icon:hover,
.wifi.menu-ssid:hover{
  background-color: $lavender;
  color: $crust;
}

.power.main_button{
  background-color: $base;
  color: $lavender;
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  font-size: 130%;
  padding: 0.2em 1em 0.2em 0.8em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 20px 20px 20px 20px;
}
.power.main_button:hover{
  background-color: $lavender;
  color: $crust;
}
.power.dropdown{
  background-color: $crust;
  color: $lavender;
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em 1em 0.2em 0.8em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 0px 0px 20px 20px;
}
.power.button{
  background-color: $base;
  color: $lavender;
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  font-size: 130%;
  padding: 0.5em 0.9em 0.5em 0.9em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 20px 20px 20px 20px;
}
.power.button:hover{
  background-color: $lavender;
  color: $crust;
}

.workspaces{
  background-color: $base;
  color: $text;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 100%;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 20px 20px 20px 20px;
}
.workspace.occupied,
.workspace.empty,
.workspace.button,
.workspace.active{
  background-color: transparent;
  color: $text;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 115%;
}
.workspace.occupied{
  background-color: $surface0;
  border-radius: 20px 20px 20px 20px;
}
.workspace.button,
.workspace.active{
  padding: 0.2em 0.6em 0.2em 0.6em;
  margin: 0.066em 0.2em 0.066em 0.2em;
}
.workspace.active{
  background-color: $lavender;
  color: $surface0;
  border-radius: 20px 20px 20px 20px;
}

.clock,
.clock.time,
.clock.date{
  background-color: transparent;
  color: $text;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 100%;
}
.clock{
  background-color: $base;
  padding: 0.5em 0.5em 0.5em 0.5em;
  //margin: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 20px 20px 20px 20px;
}

.system-monitor{
  background-color: $base;
  color: $lavender;
  border-radius: 20px 20px 20px 20px;
}
.system-monitor:hover{
  background-color: $lavender;
  color: $crust;
}

.mem.circ,
.mem.pct,
.mem,
.cpu.circ,
.cpu.pct,
.cpu{
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  font-size: 100%;
  padding: 0 0.5em 0 0.5em;
}
.mem.circ,
.cpu.circ{
  background-color: $surface1;
  font-size: 25%;
}
.mem.circ-icon,
.cpu.circ-icon{
  padding: 0.7em 0.7em 0.7em 0.8em;
  font-size: 400%;
}

window.Bar{
  background: $crust;
  font-weight: bold;
  label{
    margin: 0em;
  }
}
