*{
  all: unset;
}

@import "mocha";

.color-picker{
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  border-radius: 50%;
  padding: 0em 1.1em;
  margin: 0 0.2em 0 0.7em;
  background-color: $base;
  color: $text;
}
.color-picker:hover{
  background-color: $lavender;
  color: $crust;
}

.workspaces{
  background-color: $base;
  color: $text;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  border-radius: 20px;
}
.workspace.occupied,
.workspace.empty,
.workspace.button,
.workspace.active{
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 110%;
  background-color: transparent;
  color: $text;
}
.workspace.occupied{
  background-color: $surface0;
  border-radius: 20px;
}
.workspace.button,
.workspace.active{
  padding: 0.2em 0.6em 0.2em 0.6em;
  margin: 0.066em 0.2em 0.066em 0.2em;
}
.workspace.active{
  background-color: $lavender;
  color: $surface0;
  border-radius: 20px;
}

.clock,
.clock.time,
.clock.date{
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  background-color: transparent;
  color: $text;
}
.clock{
  background-color: $base;
  border-radius: 20px;
  padding: 0.25em;
  margin: 0.2em;
}

.system-monitor{
  background-color: $base;
  color: $text;
  border-radius: 20px;
  //padding: 0.25em;
  //margin: 0.2em;
}
.system-tray{
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  background-color: $crust;
  color: $text;
  border-radius: 20px;
  //margin: 0.2em;
}
.system-tray.main-button{
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  font-size: 140%;
  background-color: $base;
  color: $text;
  //padding: 0.3em 0.6em;
  padding: 0 0.7em;
  margin: 0 0 0 0.2em;
  border-radius: 50%;
}
.system-tray.main-button:hover{
  background-color: $lavender;
  color: $crust;
}
.system-tray.window{
  background-color: transparent;
}
.system-tray.menu{
  margin: 0.5em;
  padding: 1em;
  font-size: 115%;
}
.system-tray.uptime{
  background-color: $base;
  padding: 0.5em;
}
.system-tray.power-button{
  background-color: $base;
  padding: 0.3em 0.6em;
  margin: 0.2em;
  font-size: 140%;
  border-radius: 50%;
}
.system-tray.power-button:hover{
  background-color: $lavender;
  color: $crust;
}
.system-tray.toggles{
  background-color: $base;
  margin: 0.5em 0
}
.system-tray.toggled,
.system-tray.untoggled{
  padding: 0.3em 0.6em;
  font-size: 140%;
  border-radius: 50%;
  margin: 0.2em;
}
.system-tray.toggled{
  background-color: $lavender;
  color: $crust;
}
.system-tray.untoggled{
  background-color: $surface0;
  color: $text;
}

.mem.circ,
.mem.pct,
.mem,
.cpu.circ,
.cpu.pct,
.cpu{
  font-family: "CaskaydiaCove NF";
  font-weight: bold;
  font-size: 100%;
}
.mem.pct{
  margin: 0 0 0 0.5em
}
.cpu.pct{
  margin: 0 1em 0 0.5em
}
.mem.circ,
.cpu.circ{
  font-size: 25%;
  background-color: $surface1;
}
.mem.circ-icon,
.cpu.circ-icon{
  font-size: 300%;
  padding: 0.7em;
}

.bar{
  font-weight: bold;
  background: transparent;
  label{margin: 0em;}
}
.bar.box{
  background-color: $crust;
  //border-radius: 1em;
  padding: 0.3em;
  //margin: 0.5em;
}
