@import "mocha.css";

*{
    font-size: 15px;
    font-family: "CaskaydiaMono NF";
    border-radius: 10px;
}

window#waybar{
    background-color: transparent;
    color: #000000;
}

.modules-right{
	background-color: @crust;
    color: @text;
    margin: 5px 0 5px 0;
    padding: 10px 10px 10px 10px;
}

.modules-left{
	background-color: @crust;
    color: @text;
    margin: 5px 0 5px 0;
    padding: 10px 10px 10px 10px;
}

.modules-center{
	background-color: @crust;
    color: @text;
    margin: 5px 5px 5px 5px;
    padding: 2px 3px 2px 3px;
}

#workspaces button{
    color: #ffffff;
}
#workspaces button.focused{
    color: #000000;
    background: @lavender;
}
#workspaces button:hover{
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover{
    background: #1a1a1a;
    border: #1a1a1a;
}

#clock,
#network,
#bluetooth,
#custom-power{
    padding: 0 10px;
}

#cpu,
#temperature,
#memory,
#disk,
#window{
    padding: 0 10px;
}
