@import "mocha.css";

*{
    font-size: 15px;
    font-family: "CaskaydiaMono NF";
    border-radius: 5px;
}

window#waybar{
    background-color: transparent;
    color: #000000;
}

.modules-right{
	background-color: @base;
    color: @text;
    margin: 5px 0 5px 0;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.modules-left{
	background-color: @base;
    color: @text;
    margin: 5px 0 5px 0;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.modules-center{
	background-color: @base;
    color: @text;
    margin: 5px 5px 5px 5px;
    padding: 0px 3px 0px 3px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

#workspaces button{
    color: @lavender;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
#workspaces button.focused{color: #000000; background: @lavender;}

#network:hover{
    color: #000000;
    background: @lavender;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
#bluetooth:hover{
    color: #000000;
    background: @lavender; 
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
#custom-power:hover{
    color: #000000;
    background: @lavender; 
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
#cpu:hover{
    color: #000000;
    background: @lavender; 
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
#disk:hover{
    color: #000000;
    background: @lavender; 
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

#tray{
    padding: 0px 0px 0px 10px;
}

#clock,
#network,
#bluetooth,
#custom-power{
    padding: 0 10px;
}

#cpu,
#temperature,
#memory,
#disk,
#window{
    padding: 0 10px;
}
