[Unit]
Description=Battery info collector

[Service]
ExecStart=%h/.local/services/battery_status.sh
Restart=always

[Install]
WantedBy=default.target
